/*! all fonts are: SIL Open Font License (OFL); see https://scripts.sil.org/OFL */

@font-face {
  font-family: 'Chivo'; font-style: normal; font-weight: 400;
  src: local(''),
       url('/css/fonts/ofl/chivo-v18-latin-regular.woff2') format('woff2'),
       url('/css/fonts/ofl/chivo-v18-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Chivo'; font-style: normal; font-weight: 700;
  src: local(''),
       url('/css/fonts/ofl/chivo-v18-latin-700.woff2') format('woff2'),
       url('/css/fonts/ofl/chivo-v18-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Monoton'; font-style: normal; font-weight: 400;
  src: local(''),
       url('/css/fonts/ofl/monoton-v19-latin-regular.woff2') format('woff2'),
       url('/css/fonts/ofl/monoton-v19-latin-regular.woff') format('woff');
}
