<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="description" content="UPX homepage: the Ultimate Packer for eXecutables" />
  <meta name="keywords" content="UPX, compression, packer, executable packer, exepacker, exe-packer, NRV, UCL, oberhumer" />
  <meta name="revisit-after" content="30 days" />
  <meta name="robots" content="index, follow, noarchive" />
  <title>{{ page.htitle }}</title>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/normalize-min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Chivo:400,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Monoton:400">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/cayman-upx-min.css">
</head>
